@font-face {
    font-family: 'font1';
    src: url(fonte/go3v2.ttf);
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url(fotos/n4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
    padding: 0px;
}
header{
    margin: -10px 30px 0px 30px ;
    max-width: 100%;
    max-height: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
 
}
header div{
    display: flex;
}
header h1{
    color: rgb(255, 0, 119);;
    font-family: "font1";
    font-size: 1cm;
}
header select{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 30px 0px;
    margin-right: 35px;
    text-align: center;
    border-radius: 5px;
    width: 110px;
}
header img{
    padding: 10px;
    max-width:200px;
    max-height:100px;
}
h1#entrar{
    background-color: rgb(17, 0, 255);
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-size: 15px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px -10px;
}
main{
    margin: 50px auto;
    text-align: center;
    color: white;
    max-width: 950px;
    padding: 75px 0;
    font-family: Arial, Helvetica, sans-serif;
}
main h1{
    font-size: 3.125rem;
    padding: 0px;
    margin: 0px;
}
main h2{
    font-size: 1.5rem;
    margin: 1rem auto;
}
main p{
    font-size: 1.3rem;
}
main div span{
    background-color: rgb(17, 0, 255);
    color: white;
    padding: 21px;
    border: 1px solid blue;
    
}
main div input{
        padding: 10px 10px 0;
        width: 50%;
        display: inline;
        padding: 20px;
        margin: -10px;
        border: 2px solid blue;
}


@media (max-width: 600px){
    header{
        margin: 0px;
    }
    header img{
        width: 110px;
        height: 60px;
    }
    header select{
        margin-right: 20px;
    }
    main h1{
        font-size: 2.125rem;
    }
    main h2{
        font-size: 1.0rem;
    }
    main p{
        font-size: 0.9rem;
    }
    main div span{
        background-color: rgb(0, 26, 255);
        color: white;
        padding: 21px;
        border: 1px solid blue;
        
    }
    main div input{
            padding: 10px 10px 0;
            width: 50%;
            display: inline;
            padding: 20px;
            margin: -10px;
            border: 2px solid blue;
    }
}